<h2>
    This user is
    <%= @user[:name] %>
</h2>

<div class="table-m">
    <p>
        The ID for this user is
        <%= @user[:id] %>
    </p>
    <p>
        The ID for this user is
        <%= @user[:name] %>
    </p>
    <p>
        The ID for this user is
        <%= @user[:email] %>
    </p>
    <p>
        The ID for this user is
        <%= @user[:address] %>
    </p>
    <p>
        The ID for this user is
        <%= @user[:password] %>
    </p>
</div>
