<h2>Products from Redmart DB</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Brand ID</th>
      <th>Category ID</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td>
        <%= product[:id] %>
      </td>
      <td>
        <%= product[:name] %>
      </td>
      <td>
        <%= product[:category_id] %>
      </td>
      <td>
        <%= product[:brand_id] %>
      </td>
      <td>
        <%= product[:price] %>
      </td>
      <td>
          <a href="/products/<%=product[:id]%>">Display</a>
          <a href="/products/<%=product[:id]%>/edit">Edit</a>
          <a href="/products/<%=product[:id]%>/delete">Delete</a>


      </td>
    </tr>
    <% end %>
  </tbody>
</table>
